.image-container {
    height: 36vw;
    overflow: hidden; 
  }
  
.image-container img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}


/* .first-name{
    writing-mode: horizontal-tb;
    color: #DFE1E1;
}

.last-name{
    writing-mode: vertical-lr;
    text-orientation:upright;
    font-size: 3vb;
} */

p{
    font-weight: 700 ;
}

.sub-title {
    font-size: 2vw !important;
}


.name {
    font-size: 5vw;
    .first-letter{
        color: #DFE1E1;
    }
}


@media (max-width: 1399px) {
    .last-name {
        margin: 2rem;
        font-size: 10vw;
        writing-mode:initial;
        text-orientation:sideways-lr
    }

    .image-container{
        min-height: 75vw;
    }
  }
  